
appdirs==1.4.4
applaunchservices
appnope
appscript
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binance-connector==3.1.1
binaryornot
black
bleach
bokeh
boltons
Bottleneck
brotlipy==0.7.0
cached-property==1.5.2
certifi==2023.7.22
cffi
chardet
charset-normalizer==3.2.0
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda-verify==3.4.2
constantly==15.1.0
contourpy
